[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
falcon = "*"
gunicorn = "*"
pylint = "*"
pytest = "*"
pytest-watch = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
