[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
falcon = "*"
gunicorn = "*"
pylint = "*"
pytest = "*"
pytest-watch = "*"
schematics = "*"
dependency-injector = "*"
ptvsd = "*"

[dev-packages]
pylint = "*"
ptvsd = "*"
pre-commit = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
